#company, #working-end, #comfortable{
  display: all;
}

#name {
  text-align: center;
  left: 80%;

}
button {
  text-align: center;
  margin-top: 20px;
}

#advice {

  text-align: center;

}

input {
  text-align: center;
  width: 500px;
  height: 20px;
}

#reason {
  text align: center;
}

body {
background-color: red;
float: left;
}


.questions {
  margin: 30px;
}

#working-end {
  text-align: center;
}

h2 {
  left: 10px;
}

.last-two {
  text-align: left;
}
